@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #0f1e37;
  --color-accent: #71ccff;
  --color-accent-dark: #0f1e37;
  --color-accent-light: #e3f5ff;
  --color-background: #f8f9fc;
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
  -webkit-font-smoothing: antialiased;
}

.dark body {
  background-color: #030712;
  --color-background: #030712;
  color: #ffffff;
}

@utility hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}
